<style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>

<ul>
  <div *ngFor="let usuario of login; let i = index">
    <li><a class="active" href="#home"><h3>{{usuario.nome}}</h3></a></li>
  </div>
  <li><a href="#news" (click)="sair()">Sair</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Pesos do usuario </h2>
  <div *ngFor="let peso of pesos; let i = index">
    <p>Peso: {{peso.peso}} - Data: {{peso.datapesagem}}</p><button (click)="deletar(peso.idPeso)">Deletar</button>
  </div>
</div>


