<div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h1>My Balance</h1>
			<small> Coloque suas credências para acessar o aplicativo </small>
			<form role="form" name="gravaDados" ng-app="myApp" ng-controller="testectrl">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="email" placeholder="Email" name="email" autocorrect="off" [(ngModel)]="email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="senha" placeholder="Senha" name="senha" autocorrect="off" [(ngModel)]="senha">
					</div>
				</div>
				<a class="btn rounded-btn" (click)="entrar()"> Entrar </a>
			</form>
		</div>	
	</div>
</div>

<style>
    input
    {
        background-color: #A9A9A9;
    }
</style>